<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://wwww.thymeleaf.org"> 
<head>
	<meta charset="utf-8">
<title>Flota del sur</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--<meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>    -->
		<!--  Bootstrap core CSS -->
		<link href="href=/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
		<link rel="stylesheet" href="css/style.css">
		<link href="/css/globalstyle.css" rel="stylesheet" th:ref="@{/css/globalstyle.css}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script  src="/js/viaje.js" th:href="@{/js/viaje.js}"></script>
		
		<!--Scroll reveal-->
        <script src="https://unpkg.com/scrollreveal"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

</head>
<body>
	
<!--Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#"><h2>Flota del sur</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#Home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Cotiza">Cotizador</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Quienes">Quienes somos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Tours">Tours</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Registro">Registrese</a>
              </li>

        </ul>
      </div>
        </div>
  </nav>
  
  <!--Header-->
<header id="Home">
<div class="jumbotron text-center">
 <h1>Bienvenidos</h1>
 <p>A la mejor experiencia en Traslado</p>
 

</div>

<!-- Cotizador -->
<div class="container">
	    <div class="panel panel-default " id="panel1 ">
	    	<div class="panel-body ">
	   	    	<h3>Test cotizador </h3>
	   			<p>
	   			<div class="btn-group">
	               	<button type="button" class="btn btn-primary btn-sm" onclick="javascript:ViajesController('list')">Listar</button>
	               	<button type="button" class="btn btn-primary btn-sm" onclick="javascript:ViajesController('get')">Buscar</button>
	           		<button type="button" class="btn btn-primary btn-sm" onclick="javascript:ViajesController('insert')">Nuevo</button>
	           		<button type="button" class="btn btn-primary btn-sm" onclick="javascript:ViajesController('update')">Grabar</button>
	           		<button type="button" class="btn btn-primary btn-sm" onclick="javascript:ViajesController('delete')">Eliminar</button>
	            </div>
	    		<p>
	    	    <div class="alert alert-danger" id="msg" hidden="true">
	  			</div>
	        	<div class="input-group">
	    			<span class="input-group-addon">Viaje_id</span>
	    			<input id="viaje_id" type="number" class="form-control" name="viaje_id">
	  			</div>
	  			<p>
	  			<div class="input-group">
	    			<span class="input-group-addon">Cliente_id</span>
	    			<input id="cliente_id" type="number" class="form-control" name="cliente_id" required>
	  			</div>
	   			<div class="input-group">
	    			<span class="input-group-addon">Tipoviaje_id</span>
	    			<input id="tipoviaje_id" type="number" class="form-control" name="tipoviaje_id" required>
	  			</div>
	     			<div class="input-group">
	    			<span class="input-group-addon">Region_id</span>
	    			<input id="region_id" type="number" class="form-control" name="region_id" required>
	  			</div>
	   			<div class="input-group">
	    			<span class="input-group-addon">Comuna_id</span>
	    			<input id="comuna_id" type="number" class="form-control" name="comuna_id" required>
	  			</div>
	  		   	<div class="input-group">
	    			<span class="input-group-addon">Vehiculo_id</span>
	    			<input id="vehiculo_id" type="number" class="form-control" name="vehiculo_id" required>
	  			</div>
	  			<div class="input-group">
	    			<span class="input-group-addon">Conductor_id</span>
	    			<input id="conductor_id" type="number" class="form-control" name="conductor_id" required>
	  			</div>
	  			<div class="input-group">
	    			<span class="input-group-addon">Viaje_fecha</span>
	    			<input id="viaje_fecha" type="date" class="form-control" name="viaje_fecha" step="0.01" placeholder="0.00" min="0.00" required>
	  			</div>
	  			<div class="input-group">
	    			<span class="input-group-addon">Tipopago_id</span>
	    			<input id="tipopago_id" type="number" class="form-control" name="tipopago_id" step="0.01" placeholder="0.00" min="0.00" required>
	  			</div>
	  			<div class="input-group">
	    			<span class="input-group-addon">Costo</span>
	    			<input id="costo" type="number" class="form-control" name="costo" required>
	  			</div>
	  			<p>
			</div>
		</div>
</div>



</header>

<!-- Quienes somos-->

<div class="container-fluid bg-grey">
	<div class="row">
 	<div class="col-sm-4">
 		<span class="glyphicon glyphicon-globe logo slideanim"></span>
 	</div>
<section id="Quienes">
  <div class="container">
  <h2>Flota del sur</h2>
    <p class="h2 mb-2">
      Somos una Empresa familiar, dedicada al rubro de traslado de pasajeros. Desde el 2018, comenzamos a brindar apoyo a diferentes empresas, prestando servicios externos para el traslado de pacientes, trabajadores y servicios de transfer desde el aeropuerto a distintas partes de Santiago y regiones.
<br>
<hr>
	<p>
     Contamos por el momento con dos Van con la capacidad para trasladar hasta 10 pasajeros, cada uno de nuestros conductores cuenta con Licencia clase A, seguro contra siniestros y accidentes, además contamos con seguro de pasajeros para su seguridad, solo deseamos que tu viaje sea el mas placentero.
    </p>
    <p class="h4">Don David</p>
  </div>
</section>
 	</div>
</div>

<!-- Iconos Propuesta Valor -->
<div class="container-fluid text-center">
 	<h2>Servicio Transfer</h2>
 		<h4>Que ofrecemos</h4>
 <br>
 <div class="row slideanim">
 	<div class="col-sm-4">
 		<span class="glyphicon glyphicon-off logo-small" ></span>
 		<h4>ENERGIA</h4>
		 <p>Trabajamos con pasión</p>
 	</div>
 <br>
 <div class="col-sm-4">
 	<span class="glyphicon glyphicon-lock logo-small" ></span>
 	<h4>TRABAJO TERMINADO</h4>
 	<p>Te dejamos en la puerta de tu destino</p>
 </div>
 <br>
 <div class="col-sm-4">
 	<span class="glyphicon glyphicon-certificate logo-small"></span>
	 <h4 >CERTIFICADO</h4>
	 <p >Contamos con todos los seguros y permisos para tu seguridad</p>
 </div>
 
 </div>
 </div>

<!--  TOURS DESTINOS -->
<div id="Tours" class="container-fluid text-center bg-grey">
 <h2>TOURS</h2><br>
 	<h4>Destinos</h4>
 <div class="row text-center slideanim">
 	<div class="col-sm-4">
 		<div class="thumbnail">
 			<img th:src="@{/images/sky.jpg}"  width="400" height="300"/>
	 		<p class="text-dark"><strong>Idas a la nieve</strong></p>
 			<p class="text-dark">Te llevamos al centro de Ski de tu preferencia</p>
 		</div>
 	</div>
 <div class="col-sm-4">
 <div class="thumbnail">
 	<img src="/images/green.jpg" alt="New York" width="400" height="300">
 	<p><strong>Viñedos</strong></p>
 	<p>Las mejores rutas del vino para que disfrutes junto a tus seres queridos</p>
 </div>
 </div>
 <div class="col-sm-4">
 	<div class="thumbnail">
 		<img src="/images/valpo.jpg" alt="San Francisco" width="400" height="300">
 			<p><strong>Valparaiso y alrededores</strong></p>
 			<p>Ve y conoce uno de los lugares mas iconicos de Chile</p>
 	</div>
 </div>
 
 </div><br>


<!--Experiencias Clientes-->

 <h2>Lo que nuestros clientes comentan</h2>
 
 <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
 <!-- Indicators -->
 	<ol class="carousel-indicators">
 		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
 	</ol>
 	
 <div class="carousel-inner" role="listbox">
 	<div class="item active">
 		<h4>"Muy amables, definitivamente los elijo para mi proximo viaje!"<br><span>Valentina Dávila, youtuber</span></h4>
 	</div>
 <div class="item">
 		<h4>"Espectacular, muy profesionales!"<br><span>Myrian Mena, gerente Ritz Carlton</span></h4>
 </div>
 
 </div>

 <!-- Left and right controls -->
 
 <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
 	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
 	<span class="sr-only">Previous</span>
 </a>
 <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
 <span class="sr-only">Next</span>
 </a>
 </div>
</div>

<!-- Pie de pagina -->
<footer class="container-fluid text-center">

</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="/js/jquery-3.5.1.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script src="/js/bootstrap-table.min.js" th:href="@{/js/bootstrap-table.min.js}"></script>


<!-- script -->
<script type="text/javascript">


      window.sr = ScrollReveal();
      sr.reveal('.navbar', {
        duration:2000,
        origin: 'bottom'
      });
      sr.reveal('.header-content-left', {
        duration:2000,
        origin: 'top',
        distance: '300px'
      });
      sr.reveal('.header-content-right', {
        duration:2000,
        origin: 'right',
        distance: '300px'
      });
      sr.reveal('.header-btn', {
        duration:2000,
        origin: 'bottom',
        delay: '1000'
      });
      sr.reveal('#testimonial', {
        duration:2000,
        origin: 'left',
        distance: '300px',
        viewFactor: 0.2
      });

      // Smoot scrolling
      document.querySelectorAll('a[href^="#"]').forEach(anchor => {
          anchor.addEventListener('click', function (e) {
            e.preventDefault();

      document.querySelector(this.getAttribute('href')).scrollIntoView({
          behavior: 'smooth'
          });
        });
      });
    </script>
 	
</body>
</html>